<ng-container *ngIf="currentUserId !== null; else spinner">
  <p class="col-12 col-sm-12 col-md-6 col-lg-4 mt-3">
    <span class="info">Editing User</span>
  </p>
  <p class="col-12 col-sm-12 col-md-6 col-lg-4 mt-3">
    <mat-form-field appearance="legacy">
      <mat-label>Unique User No.</mat-label>
      <input  autocomplete="off"  type="number" [(ngModel)]="user.userNumber" matInput placeholder="Enter  Race no">
      <mat-hint>enter number which is not in past user list</mat-hint>
    </mat-form-field>
  </p>
  <p class="col-12 col-sm-12 col-md-6 col-lg-4 mt-3">
    <mat-form-field appearance="legacy">
      <mat-label>User Name</mat-label>
      <input  autocomplete="off"  [(ngModel)]="user.userName" matInput placeholder="Enter Name of user">
      <mat-hint> </mat-hint>
    </mat-form-field>
  </p>
  <p class="col-12 col-sm-12 col-md-6 col-lg-4 mt-3">
    <mat-form-field appearance="legacy">
      <mat-label>Balance</mat-label>
      <input  autocomplete="off"  [(ngModel)]="user.userBalance" type="number" matInput placeholder="Balance">
      <mat-hint> </mat-hint>
    </mat-form-field>
  </p>
  <p class="butttons col-12 col-sm-12 col-md-6 col-lg-4 mt-3">
      <button (click)="editUser()" class="submit">Submit</button>
      <button (click)="goBack()" class="cancel">Cancel</button>
  </p>  
</ng-container>
<ng-template #spinner>
  <mat-spinner></mat-spinner>
</ng-template>