<div class=" p-2 button col-4 col-md-4 col-sm-12">
    <button>+ Create Race</button>
  </div>
  <div [ngClass]="(isHandset$ | async) === true?'example-container-mobile':'example-container'" class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">
  
      <!-- Position Column -->
      <ng-container matColumnDef="race_no">
        <th mat-header-cell *matHeaderCellDef> Race_no </th>
        <td mat-cell *matCellDef="let element"> {{element.race_no}} </td>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="total_horses">
        <th mat-header-cell *matHeaderCellDef> No of Horses </th>
        <td mat-cell *matCellDef="let element"> {{element.total_horses}} </td>
      </ng-container>
  
      <!-- Weight Column -->
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef> Date </th>
        <td mat-cell *matCellDef="let element"> {{element.date}} </td>
      </ng-container>
  
      <!-- details Column -->
      <ng-container matColumnDef="details">
        <th mat-header-cell *matHeaderCellDef> Details </th>
        <td mat-cell *matCellDef="let element"> 
          <mat-icon [routerLink]="[ '/race',element.race_no]" aria-label="icon">arrow_forward_ios</mat-icon> 
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>