svg {
    width: 20px;
    height: 20px;
    display: inline-block;
    fill: #ce6565;
}
table {
    width: 100%;
    th, td {
        padding: 2px 2px;
        word-break: break-word;
    }
    .user-no{
        width: 15%;
        padding-left: 10px; 
        background: rgba(231, 231, 231, 0.9);
    }
    .user-name{
        width: 25%;
        background: rgba(231, 231, 231, 0.5); 
    }
    .horse-no{
        width: 10%;
        background: rgba(231, 231, 231, 0.9);
    }
    .amount{
        width: 14%;
        background: rgba(231, 231, 231, 0.5);
    }
    .rate{
        width: 10%;
        background:  rgba(231, 231, 231, 0.9);
    }
    .type{
        width: 9%;
        background:  rgba(231, 231, 231, 0.5);
    }
    .details{
        width: 12%;
        padding-right: 10px;
        background: rgba(231, 231, 231, 0.9);
    }
    
}
mat-icon {
    cursor: pointer;
}
.mat-header-cell {
    font-weight: bold;
    color:black;
}
mat-icon {
    opacity: 0.6;
    cursor: pointer;
}
.info {
    padding: 5px 0px;
    div {
        padding: 5px 0px;
        float: left;
    }
    div.buttons {
        clear: both;
    }
    div.buttons {
        button{
            margin-right: 5px;
            margin-top: 5px;
        }
        button.add-entry{
            background: #673ab7; 
            color:white;
        }
        button.complete-race{
            background: #40822b;
            color:white;
        }
        button.delete-race{
            background: #ce6565;
            color:white;
        }
    }
    span.label {
        font-weight: 600;
        color: #673ab7;
    }
}
.entries {
    height: calc(100% - 195px);
    overflow: auto;
    clear: both;
}
.main-container {
    height: calc(100% - 60px);
}