.heading {
    .info {
        font-size: 1.4rem;
        color: #673ab7;
    }
}
.label {
    font-weight: bold;
}
.buttons {
    .edit {
        background: #673ab7;
        color:white;
    }
    .delete {
        background: #ce6565;
        color:white;
    }
}