mat-form-field {
    width: 100%;
    mat-form-field-flex {
        border-style: solid;
    }
}
span.info {
    color:#673ab7;
    font-size: 1.4rem;
}
p.data {
    float:left;
}
p.butttons {
    clear:both;
    .submit {
        background:#673ab7;
        color:white;
        padding: 5px;
        margin-right: 10px;
    }
    .cancel {
        background: white;
        color:black;
        padding: 5px;
    }
    
}
.error {
    clear: both;
}
span.disabled {
    cursor: not-allowed;
    button {
        pointer-events: none;
        opacity: 0.6;
    }
}