<p class="col-12 col-sm-12 col-md-6 col-lg-4 mt-3">
  <span class="info">Adding New User</span>
</p>
<p class="col-12 col-sm-12 col-md-6 col-lg-4 mt-3">
  <mat-form-field appearance="legacy">
    <mat-label>Unique User No.</mat-label>
    <input matInput placeholder="Enter  Race no">
    <mat-hint>enter number which is not in past user list</mat-hint>
  </mat-form-field>
</p>
<p class="col-12 col-sm-12 col-md-6 col-lg-4 mt-3">
  <mat-form-field appearance="legacy">
    <mat-label>User Name</mat-label>
    <input  matInput placeholder="Enter Name of user">
    <mat-hint> </mat-hint>
  </mat-form-field>
</p>
<p class="col-12 col-sm-12 col-md-6 col-lg-4 mt-3">
  <mat-form-field appearance="legacy">
    <mat-label>Balance</mat-label>
    <input type="number" matInput placeholder="Balance">
    <mat-hint> </mat-hint>
  </mat-form-field>
</p>
<p class="butttons col-12 col-sm-12 col-md-6 col-lg-4 mt-3">
    <button class="submit">Submit</button>
    <button (click)="goBack()" class="cancel">Cancel</button>
</p>