<p class="col-12 col-sm-12 col-md-6 col-lg-4 mt-3">
  <span class="info">Login </span>
</p>
<p class="col-12 col-sm-12 col-md-6 col-lg-4 mt-3">
  <mat-form-field appearance="legacy">
    <mat-label>Email Id</mat-label>
    <input type="text" [(ngModel)]="loginData.email" matInput placeholder="sample@example.com">
    <mat-hint>enter email id</mat-hint>
  </mat-form-field>
</p>
<p class="col-12 col-sm-12 col-md-6 col-lg-4 mt-3">
  <mat-form-field appearance="legacy">
    <mat-label>Password</mat-label>
    <input type="password" [(ngModel)]="loginData.password"  matInput placeholder="enter password">
    <mat-hint> </mat-hint>
  </mat-form-field>
</p>
<p *ngIf="errorMessage !== ''" class="col-12 col-sm-12 col-md-6 col-lg-4 mt-3 error">
  <span>{{errorMessage}}</span>
</p>
<p class="butttons col-12 col-sm-12 col-md-6 col-lg-4 mt-3">
  <button (click)="login()" class="submit">Login</button>
</p>
