.no {
    background: white;
}
.yes {
    background: #673ab7;
    color:white;
}
h1{
    color: #673ab7;
}

p{
    float:left;
    width:45%;
    margin-right: 2.5%;
    mat-form-field {
        width: 100%;
    }
}
div {
    clear:both;
}
span.disabled {
    cursor: not-allowed;
    button {
        pointer-events: none;
        opacity: 0.6;
    }
}