.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
.hidden {
  display: none;
}
.spacer {
  flex: 1 1 auto;
}
mat-toolbar a {
  display: inline-block;
  padding: 0 10px;
  color:white;
  text-decoration: none;
}
.mat-list-item {
  padding-left: 25px !important;
  cursor: pointer;
}
.mat-list-item.logout {
  color: #673ab7;
  background: white;
}
.mat-list-item.logout:hover {
  color: #673ab7;
  background: white;
  opacity: 1.0;
}
.mat-list-item:hover {
  opacity: 0.6;
}
.title {
  font-size: 1.4rem;
}