<p class="col-12 col-sm-12 col-md-6 col-lg-4 mt-3">
  <span class="info">Adding New Race</span>
</p>
<p class="col-12 col-sm-12 col-md-6 col-lg-4 mt-3">
  <mat-form-field appearance="legacy">
    <mat-label>Unique Race No.</mat-label>
    <input  autocomplete="off"   autofocus type="number"  [(ngModel)]="race.raceNumber" matInput placeholder="Enter  Race no">
    <mat-hint>enter number which is not in past race list</mat-hint>
  </mat-form-field>
</p>
<p class="col-12 col-sm-12 col-md-6 col-lg-4 mt-3">
  <mat-form-field appearance="legacy">
    <mat-label>NO of horses</mat-label>
    <input  autocomplete="off"  [(ngModel)]="race.raceHorses" type="number" matInput placeholder="Enter number of horses">
    <mat-hint> </mat-hint>
  </mat-form-field>
</p>
<p class="col-12 col-sm-12 col-md-6 col-lg-4 mt-3">
  <mat-form-field class="example-full-width">
    <input  autocomplete="off"  [(ngModel)]="race.raceDate" matInput [min]="minDate"  [matDatepicker]="picker" placeholder="Choose a date" disabled>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker disabled="false"></mat-datepicker>
  </mat-form-field>
</p>
<p *ngIf="errorMessage !== ''" class="col-12 col-sm-12 col-md-6 col-lg-4 mt-3 error">
    <span>{{errorMessage}}</span>
</p>
<p class="butttons col-12 col-sm-12 col-md-6 col-lg-4 mt-3">
    <button (click)="addRace()" class="submit">Submit</button>
    <button (click)="goBack()" class="cancel">Cancel</button>
</p>