@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

/* You can add global styles to this file, and also import other style files */

body {
    margin:0;
}
html,body {
    height: 100%;
}
.error {
    color:red;
    font-size: 12px;
}
.red {
    color: red;
}
.green {
    color: #3ec13e;
    font-weight: 500;
}
mat-spinner{
    margin: 0 auto;
    margin-top: 50%;
}
    