<p class="col-12 col-sm-12 col-md-6 col-lg-4 mt-3">
  <span class="info">Editing Entry</span>
</p>
<p class="data col-6 col-sm-6 col-md-6 col-lg-4 mt-3">
  <mat-form-field appearance="legacy">
    <mat-label>User No.</mat-label>
    <mat-select  disabled [(ngModel)]="entry.userNumber">
      <mat-option *ngFor="let user of users" [value]="user.userNumber">
        {{user.userNumber}}
      </mat-option>
    </mat-select>
    <mat-hint></mat-hint>
  </mat-form-field>
</p>
<p class="data col-6 col-sm-6 col-md-6 col-lg-4 mt-3">
  <mat-form-field appearance="legacy">
    <mat-label>User Name</mat-label>
    <input [(ngModel)]="entry.userName" type="text" disabled matInput placeholder="User Name">
    <mat-hint> </mat-hint>
  </mat-form-field>
</p>
<p class="data col-6 col-sm-6 col-md-6 col-lg-4 mt-3">
  <mat-form-field appearance="legacy">
    <mat-label>Betting Type</mat-label>
    <mat-select [(ngModel)]="entry.bettingType">
      <mat-option *ngFor="let bet of bets" [value]="bet">
        {{bet}}
      </mat-option>
    </mat-select>
    <mat-hint></mat-hint>
  </mat-form-field>
</p>
<p class="data col-6 col-sm-6 col-md-6 col-lg-4 mt-3">
  <mat-form-field appearance="legacy">
    <mat-label>Invested Amount</mat-label>
    <input [(ngModel)]="entry.investedAmount" type="number" matInput placeholder="Enter amount to invest">
    <mat-hint> </mat-hint>
  </mat-form-field>
</p>
<p class="data col-6 col-sm-6 col-md-6 col-lg-4 mt-3">
  <mat-form-field appearance="legacy">
    <mat-label>Rate</mat-label>
    <input [(ngModel)]="entry.rate" [disabled]="(entry.bettingType === 'THP' || entry.bettingType === 'SHP')?'true':'false'" 
      type="number" matInput placeholder="Rate">
    <mat-hint> mostly it's very small </mat-hint>
  </mat-form-field>
</p>
<p class="data col-6 col-sm-6 col-md-6 col-lg-4 mt-3">
  <mat-form-field appearance="legacy">
    <mat-label>Tax</mat-label>
    <input [(ngModel)]="entry.taxRate" type="number" matInput placeholder="Tax ">
    <mat-hint> % charge</mat-hint>
  </mat-form-field>
</p>
<p class="data col-6 col-sm-6 col-md-6 col-lg-4 mt-3">
  <mat-form-field appearance="legacy">
    <mat-label>Horse no.</mat-label>
    <mat-select [(ngModel)]="entry.horseNumber">
      <mat-option *ngFor="let horse of horses" [value]="horse">
        {{horse}}
      </mat-option>
    </mat-select>
    <mat-hint> </mat-hint>
  </mat-form-field>
</p>
<p *ngIf="errorMessage !== ''" class="error col-12 col-sm-12 col-md-6 col-lg-4 mt-3">
  <span>{{errorMessage}}</span>
</p>
<p class="butttons col-12 col-sm-12 col-md-6 col-lg-4 mt-3">
    <button (click)="updateEntry()" class="submit">Submit</button>
    <button (click)="goBack()" class="cancel">Cancel</button>
</p>